.search-input {
  font-size: 16px;
  padding: 4px 10px;
  height: 28px;
  width: 90%;
  border-radius: 20px;
  outline: none;
  border: 1px solid rgb(179, 179, 179);
}

.search-input-container {
  width: 70%;
  position: relative;
}

.search-btn {
  background-color: rgb(48, 165, 203);
  width: 90px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: 30px;
}
.search-input:focus {
  border: 1px solid rgb(3, 151, 214) !important;
}
.search-container {
  display: flex;
  gap: 4px;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}

.search-suggestions {
  position: absolute;
  z-index: 2;
  background-color: whitesmoke;
  box-shadow: 1px 2px 4px rgb(205, 205, 205);
  padding: 2px;
  border-radius: 10px;
  width: 100%;
  max-height: 150px;
  overflow: auto;
}
.suggestion {
  text-decoration: none;
  padding: 6px 10px;
  border-bottom: 2px dashed rgb(217, 217, 217);
  cursor: pointer;
}
